
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



/* Thumbins  */
.rslides_tabs {text-align: right; padding-top: 8px; padding-bottom: 30px;}
.rslides_tabs li{ width: 123px; height: 82px; display: inline-block; margin-left: 7px; border: 2px solid transparent; overflow: hidden; -o-transition: 0.5s ease all; -webkit-transition: 0.5s ease all; -moz-transition: 0.5s ease all; transition: 0.5s ease all;}
.rslides_tabs li.rslides_here{border-color: #4683d5;}
.rslides_tabs li img{max-width: 100%;}
